[submodule "src/main/resources/data"]
	path = server/src/main/resources/data
	url = https://github.com/CloudburstMC/Data.git
[submodule "src/main/resources/locale/cloudburst"]
	path = server/src/main/resources/locale/cloudburst
	url = https://github.com/CloudburstMC/Languages.git
[submodule "src/main/resources/locale/vanilla"]
	path = server/src/main/resources/locale/vanilla
	url = https://github.com/CloudburstMC/Language.git
